/* The canvas and header section is styled in todo_calendar.css */
:root {
       --color-red: #f0725c;
       --color-black: #000;
       --color-container-black: #292929;
       --color-green: #71b77e;
       --color-yellow: #f2cd5f;
       --color-blue: #6ea2dd;
       --color-orange: #f29940;
       --color-light-grey: #f5f5f5;
       --color-mid-grey: #b5b6ba;
       --color-light-blue: #73c3ce;
       --color-grey: #828282;
       --color-dark-grey: #333;
       --color-banner-white: #e8e8e8;
       --column-gap: 16px;
       --side-gap: 16px;
       --vertical-gap: 8px;
       --max-content-width: 1440px;
}
/* This container contains the list of events */
/* here we set the dimension and position of the container */

.container_todo_list{
       position: absolute;
       top: 30%;
       left: 50%;
       transform: translate(-50%, -50%);
       width: 50%;
       background: var(--color-container-black);
       color: var(--color-light-grey);
}
/* draws lines at the bottom, sets the height one schedule box, sets margins
and orgainzes how content should be structured inside this box */
.box{
       height: 4rem;
       margin: 1rem;
       border-bottom: solid 1px var(--color-light-grey);
       display: flex;
       justify-content: space-between;
       font-size: 1.2rem;
       font-weight: 400;
}
a{
       color: var(--color-light-grey);
       font-weight: 400;
       font-size: 1.2rem;
}
a:hover{
       background: var(--color-grey);
       padding: 1rem;
       border-radius: 15px;
       width: 100%;
       cursor: pointer;
       text-align: center;
       color: inherit;
}
