:root {
       --color-red: #f0725c;
       --color-black: #000;
       --color-white: #fff;
       --color-goal-black: #292929;
       --color-goal-green: #71b77e;
       --color-goal-yellow: #f2cd5f;
       --color-goal-light-blue: #73c3ce;
       --color-goal-orange: #f29940;
       --color-goal-purple: #7e85cd;
       --color-goal-mauve: #cf96c2;
       --color-goal-blue: #6ea2dd;
       --color-goal-dark-grey: #333;
       --color-goal-grey: #828282;
       --color-goal-mid-grey: #b5b6ba;
       --color-goal-light-grey: #f5f5f5;
       --color-goal-banner-black: #161617;
       --color-goal-banner-white: #e8e8e8;
       --color-shadow: rgba(0,0,0,.2);
       --color-facebook: #3b5998;
       --color-twitter: #4099ff;
       --color-reddit: #ff5700;
       --column-gap: 16px;
       --side-gap: 16px;
       --vertical-gap: 8px;
       --max-content-width: 1440px;
   }
html{
       font-size: 80%;
       box-sizing: border-box;
       font-family: Source Sans Pro,Arial,Helvetica Neue,Helvetica,sans-serif;
	-webkit-font-smoothing: antialiased;
       scroll-behavior: smooth;
}
body
{
       background-color: var(--color-black);
       height: 100vh;
       font-weight: 400;
       line-height: 1.5;
       color: var(--color-red);
}
