{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="canvas">
       <div class="header">
              <nav class="header__nav">
                     <div class="header__left-content">
                            {% if user.profile_pic %}
                            <img src="{{ user.profile_pic.url }}" class="header__icon"
                                   style="max-width:120px; max-height:120px;"></img>
                            {% else %}
                                   <img src="{% static 'svg/user-solid.svg' %}" alt="" 
                                          style="max-width:150px; max-height:150px"></img>
                            {% endif %}
                     </div>
                     <div class="header__center">
                            <h2>{{ event_obj.event_title }}</h2>
                     </div>
                     <div class="header__right-content">
                            <ul class="header__list">
                                   <li>
                                          <a href="{% url 'accounts:my_profile' %}"> {{ user.username }} </a>
                                   </li>
                                   <li>
                                          <a href="{% url 'todo_list:index' %}"> To Calendar </a>
                                   </li>
                                   <li>
                                          <a href="{% url 'accounts:logout' %}"> Logout </a>
                                   </li>
                            </ul>
                     </div>
              </nav>
       </div>
       <div class="container_details">
              <div class="details">
                     <div class="one_block">
                            <p class="title_">planned action: &nbsp &nbsp {{ event_obj.event_title }}</p>
                     </div>
                     <div class="one_block">
                            <p class="title_">
                                   Event begins @: &nbsp &nbsp {{ event_obj.event_scheduled_to_begin }} 
                            </p>
                            <p class="title_">
                                   and ends @: &nbsp &nbsp {{ event_obj.event_scheduled_to_end }}       
                            </p>
                     </div>
                     <div class="one_block">
                            <p class="title_">
                                   planned action is: &nbsp &nbsp {{ event_obj.event_description }}
                            </p>
                     </div>
              </div>
              <div class="details_footer">
                     <ul class="footer__list">
                            <li>
                                   <a href="{% url 'todo_list:delete_event' event_obj.id %}" class="delete_btn">
                                          Delete
                                   </a>
                            </li>
                            <li>
                                   <a href="{% url 'todo_list:edit_event' event_obj.id %}" class="delete_btn">
                                          Edit
                                   </a>
                            </li>
                            <li>
                                   <a href="{% url 'todo_list:todo_list' event_obj.calendar.slug %}" class="delete_btn">
                                          To Schedule List
                                   </a>
                            </li>
                            <li>
                                   <a href="{% url 'todo_list:index' %}" class="delete_btn">
                                          To Calendar
                                   </a>
                            </li>
                     </ul>
              </div>
       </div>
</div>
{% endblock %}