{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="canvas">
       <div class="header">
              <nav class="header__nav">
                     <div class="header__left-content">
                            {% if user.profile_pic %}
                                   <img src="{{ user.profile_pic.url }}" class="header__icon"
                                          style="max-width:120px; max-height:120px;"></img>
                            {% else %}
                                   <img src="{% static 'svg/user-solid.svg' %}" alt="" 
                                          style="max-width:150px; max-height:150px"></img>
                            {% endif %}
                     </div>
                     <div class="header__center">
                            <h2>Schedules of the day {{ slug }}</h2>
                     </div>
                     <div class="header__right-content">
                            <ul class="header__list">
                                   <li>
                                          <a href="{% url 'accounts:my_profile' %}"> {{ user.username }} </a>
                                   </li>
                                   <li>
                                          <a href="{% url 'todo_list:index' %}"> To Calendar </a>
                                   </li>
                                   <li>
                                          <a href="{% url 'accounts:logout' %}"> Logout </a>
                                   </li>
                            </ul>
                     </div>
              </nav>
       </div>
       <div class="container_todo_list">
              {% if events %}
                     {% for each_event in events %}
                     <div class="box">
                            <p class="hour">
                                   {{ each_event.event_scheduled_to_begin }} - {{ each_event.event_scheduled_to_end }}
                            </p>
                            <p class="title">
                                   <a href="{% url 'todo_list:details' each_event.id %}">
                                          {{ each_event.event_title }}
                                   </a>
                            </p>
                            <p>
                                   <a href="{% url 'todo_list:edit_event' each_event.id %}">
                                          <span class="edit">
                                                 <i class="fas fa-edit"> </i>
                                          </span>
                                   </a>
                            </p>
                     </div>
                     {% endfor %}
              {% else %}
              <div class="box">
                     <h2 class="title">
                            No event is planned for the day
                     </h2>
              </div>
              {% endif %}
              <div class="box">
                     <p class="hour">
                            <i class="fa fa-plus"></i>
                     </p>
                     <a href="{% url 'todo_list:create_event' slug %}" class="title">
                            New Schedule
                     </a>
              </div>
       </div>
</div>
{% endblock %}
